<!DOCTYPE html>
<html>
<head>
    {% include 'include.html' %}
    {% load static %}
</head>
<body style="background-image: url(&quot;{% static 'img/star-sky.jpg' %}&quot;);">
    
    <div id="wrapper">
        
        {% include 'adminnav.html' %}
        <div class="page-content-wrapper">
            <div class="container-fluid">
                <h1 class="text-center" style="color: white;">You are sucessfully logged in..{{ user.username }}</h1>
            </div>
        </div>
    </div>
</body>
</html>