{% include 'navbar.html' %}
{% include 'include.html' %}
{% load static %}



{% block content %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/chatroom.css' %}" />
</head>
<body style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url('{% static 'img/healhcare-4.jpg' %}');
        background-repeat: no-repeat;
        background-size: cover;
    ">
    <div class="chat-container"></div>

    <script src="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.js"></script>
    <script type="text/javascript">
        var chatroom = new window.Chatroom({
            host: "http://localhost:5005",
            title: "MeroCare Personal Health Assistant!",
            container: document.querySelector(".chat-container"),
            welcomeMessage: "Hi! I' m MeroCare's Personal Assistant. To get Started, simply ask me a question. I am still Learning, so If i Can't Help you, I will direct you to additional resources. ",
            speechRecognition: "en-US",
            /*voiceLang: "en-US" */
        });
        chatroom.openChat();
    </script>
</body>
<div class="footer text-center text-white">
    Copyright &copy; 2021 &mdash; MeroCare
</div>
</html>
{% endblock %}
