<!DOCTYPE html>
<html>
<head>
    {% include 'include.html' %}
    {% load static %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="{% static 'js/datatables.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
    <title></title>
</head>
<body>

    <div id="wrapper">
        {% include 'patient_nav.html' %}
        <div class="page-content-wrapper">
            <div class="container-fluid">
                <h2 class="text-center text-light">HEALTH RECORDS</h2>
                <section id="team" class="pb-5">
                    <div class="container">
                       <table class="table" id="example"><!--table-hover-->
                            <thead>
                                <tr>
                                    <th>Doctor Name</th>
                                    <th>Patient Name</th>
                                    <th>Appointment Date</th>
                                    <th>Symptoms</th>
                                    
                                    <th>Prescription</th>
                                    <th>Follow Up Date</th>
                                    
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for j in previous_appointments %}
                                <tr style="color: black;">
                                    <td>{{ j.doctorname }}</td>
                                    <td>{{ j.patientname }}</td>
                                    <td>{{ j.appointmentdate }}</td>
                                    <td>{{ j.symptoms }}</td>
                                    
                                    <td>{{ j.prescription }}</td>
                                    <td>{{ j.followupdate }}</td>
                                    

                                    
                             
                                </tr>
                                {% endfor %}
                            </tbody>
                            
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="scroll-top-wrapper"><span class="scroll-top-inner"><i class="fa fa-arrow-circle-up"></i></span></div>
<!--<script src="{% static 'js/jquery.min.js' %}"></script>-->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/back-to-top-scroll.js' %}"></script>
<script src="{% static 'js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
<script src="{% static 'js/Sidebar-Menu.js' %}"></script>
</body>
</html>