<!DOCTYPE html>
<html>

<head>
    {% include 'include.html' %}
    {% load static %}
</head>

<body style="background-image: url('{% static 'img/health-care-7.jpg' %}'); background-repeat: no-repeat; background-size: cover;">
    {% include 'adminnav.html' %}
    <div id="wrapper">
        {% include 'patient_nav.html' %}
        <div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars"></i></a>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <h1 class="text-center p-3 mb-2  text-white">You are sucessfully logged in..{{ user.first_name }}</h1>
                            <h3 class="text-center p-3 mb-2  text-white">You can view your appointment and also you can see your precription report.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include 'redirecthome.html' %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/back-to-top-scroll.js' %}"></script>
<script src="{% static 'js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
<script src="{% static 'js/Sidebar-Menu.js' %}"></script>
</body>

</html>